body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.container{
    /* border: 3px solid blue; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.time, .date{
    font-size: 3rem;
}